<div class="padding">
  <div class="portfolio">
    <div class="site_container yellow">
      <a href="www.thorntontomasetti.com" target="_blank"><img src="/images/small_thornton.png" alt="thornton tomasetti" /></a>
      <div class="technologies">  
        <!-- <ul><span>site:</span><li>thornton tomasetti</li></ul> -->
      </div>
    </div>
    <div class="site_container green">
      <a href="www.lizclaiborne.com" target="_blank"><img src="/images/small_liz.png" alt="liz claiborne" /></a>
      <div class="technologies">  
        <!-- <ul><span>site:</span><li>liz claiborne</li></ul> -->
      </div>
    </div>
    <div class="site_container blue">
      <a href="www.citibabes.com"><img src="/images/small_citibabes.png" alt="citibabes" /></a>
      <div class="technologies">  
        <!-- <ul><span>site:</span><li>citibabes</li></ul> -->
      </div>
    </div>
    <div class="site_container orange">
      <a href="#"><img src="/images/small_mally.png" alt="mally" /></a>
      <div class="technologies">  
        <!-- <ul><span>site:</span><li>mally beauty</li></ul> -->
      </div>
    </div>
    <div class="site_container red">
      <a href="#"><img src="/images/small_kates.png" alt="kates" /></a>
      <div class="technologies">  
        <!-- <ul><span>site:</span><li>kates papery</li></ul> -->
      </div>
    </div>
    <div class="site_container yellow">
      <a href="#"><img class="last" src="/images/small_kimara.png" alt="kimara" /></a>
      <div class="technologies">  
        <!-- <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul> -->
      </div>
    </div>
    <div class="site_container green">
      <a href="#"><img src="/images/small_cinemax.png" alt="cinemax" /></a>
      <div class="technologies">  
        <!-- <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul> -->
      </div>
    </div>
    <div class="site_container blue">
      <a href="#"><img src="/images/small_nse.png" alt="nippon shin eisei" /></a>
      <div class="technologies">  
        <!-- <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul> -->
      </div>
    </div>
    <div class="site_container orange">
      <a href="#"><img class="last" src="/images/small_summitsprings.png" alt="summit springs" /></a>
      <div class="technologies">  
        <!-- <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul> -->
      </div>
    </div>
  </div>
</div>
