<div class="large_box">
  <div class="top"></div>
  <p>Check out the collection of sites I've collaborated on. Lorem ipsum 
  dolor sit amet, consectetur adipiscing elit. Curabitur ut sapien eu mi pretium elementum. Nam id dui sed augue 
  vulputate hendrerit.</p>
  <div class="bottom"></div>
</div>
<div class="portfolio">
  <div class="site_container">
    <a href="www.thorntontomasetti.com" target="_blank"><img src="/images/thumb_thornton.jpg" alt="thornton tomasetti" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li><li>javascript</li></ul>
    </div>
  </div>
  <div class="site_container">
    <a href="www.lizclaiborne.com" target="_blank"><img src="/images/thumb_liz.jpg" alt="liz claiborne" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>mysql</li><li>ajax</li><li>swfobject</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li><li>javascript</li></ul>
    </div>
  </div>
  <div class="site_container last">
    <a href="www.citibabes.com"><img src="/images/thumb_citibabes.jpg" alt="citibabes" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>prototype</li><li>javascript</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="site_container">
    <a href="#"><img src="/images/thumb_mally.jpg" alt="mally" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="site_container">
    <a href="#"><img src="/images/thumb_kates.jpg" alt="kates" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="site_container last">
    <a href="#"><img class="last" src="/images/thumb_kimara.jpg" alt="kimara" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="site_container">
    <a href="#"><img src="/images/thumb_cinemax.jpg" alt="cinemax" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="site_container">
    <a href="#"><img src="/images/thumb_nse.jpg" alt="nippon shin eisei" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
  <div class="site_container last">
    <a href="#"><img class="last" src="/images/thumb_summitsprings.jpg" alt="summit springs" /></a>
    <div class="technologies">  
      <ul><span>Features:</span><li>ruby</li><li>rails</li><li>html</li><li>css</li><li>jquery</li><li>flash</li><li>sifr</li></ul>
    </div>
  </div>
</div>
