<div id="search_features">  
  <%= render :partial => 'calendar_search' %>

  <%= render :partial => 'photo_search' %>

  <%= render :partial => 'tag_search' %>
  
  <%= render :partial => 'twitter' %>
</div>