<%= image_tag('header_tags.png', :alt => 'popular tags', :class => 'search_header') %>
<span class="tags">
  <% tag_cloud Blog.tag_counts, %w(tag_small tag_medium tag_large) do |tag, css_class| %>
    <%= link_to(h(tag.name), blog_search_path(:by => 'tag', :value => tag.name), :class => "#{css_class}") %>
  <% end %>
</span>