<%= image_tag('header_tweets.png', :alt => 'tweets', :class => 'search_header') %>
<span class="tags">
  <!-- <div class="tweet">
    <%= image_tag('twitter_bird.png', :alt => 'bird') %>
    <p>I am a tweeter because Barack Obama tweets to the twits in the states</p>
  </div> -->
  <div class="tweet">
    <%= image_tag('twitter_bird.png', :alt => 'bird') %>
    <p>i gave in. i'm on twitter now!</p>
  </div>
</span>