/***********************about***********************/

#about_me {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  a:hover { color: #000 }
  img { float: left; margin: 35px 20px 10px 25px }
  #description {
    float: left;
    height: 360px;
    line-height: 1.7em;
    background-image: url('/images/about_me_BG5.png');
    position: relative;
    p { 
      margin: 0px 35px 10px 40px; 
      span { float: right; margin-top: 12px; }
    }
    h3 {
      position: absolute;
      top: 33px;
      left: 304px;
      color: #000;
      font-size: 16px;
      font-weight: normal;
      float: left;
      height: 1.5em;
    }
  }
}

#resume {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  .download_link {
    position: absolute;
    top: 11px;
    right: 0px;
    color: #000;
    z-index: 300;
    span {
      background-color: #94f2ff;
      margin: 0 0 0 3px;
      padding: 2px;
      a { 
        color: #7e7e7e;
        &:hover { color: #ccc }
      }
    }
  }
  a { 
    color: $hot-pink;
    &:hover { color: #000 } 
  }
  h3 {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    float: left;
    height: 1.5em;
    margin: 10px 0; 
    width: 760px;
    &.header {
      border-bottom: 1px solid #999;
      padding-bottom: 5px;
    }
  }
  p {
    float: left;
    line-height: 1.5em;
    display: inline;
    .date {
      float: right;
      color: #bbb;
      text-align: right;
    }
  }
  h5 { text-transform: uppercase; color: #454545; padding: 8px 0; font-size: 11px; font-weight: normal; }
}

.about_text { margin-top: 60px;}

p.job_description {
  width: 580px;
  margin: 10px 0 10px 30px;
}

table#my_resume { 
  width: 760px; 
  float: left; 
  border-top: 1px dotted #454545;
  span { color: #F131C6; } 
  td {
    &.right_col { width: 150px; text-align: right; color: #BBBBBB; vertical-align: top; }
    &.category_title { text-transform: uppercase; color: #454545; padding: 8px 0; font-size: 11px; font-weight: normal; }
    &.td_description { padding-left: 10px; }
    &.bottom_padding { padding-bottom: 5px; }
    &.school_job { color: #454545; }
    &.section_separator { border-bottom: 1px dotted #ccc; }
  }
  ul { float: left; padding-left: 1.5em; } 
}
