/***********************admin***********************/

.admin_album_links, span.album_details { 
  float: right; 
  margin: 12px 10px 0 0; 
  display: inline;
}

.admin_album_links a:hover { color: #fff; background-color:#000 }

#blog_container .new_blog { 
  z-index: 100;
  position: absolute;
  bottom: 0px;
  left: 0px; 
}

.admin_links { clear: both; float: left; width: 100%; }

.main_content {
  width: 760px;
  padding: 0 20px;
}

.main_content h4 {
  margin-bottom: 5px;
  float: left;
  width: 133px;
  text-align: right;
}

.main_content input, .main_content textarea {
  border: 1px solid #dedede;
  padding: 1px;
  background-color: #fcfafc
}

.blog_photo_edit a { margin-top: 10px }

.blog_photo_edit { padding-bottom: 10px;}

.edit_photos { border-bottom: 1px dotted #ccc; margin-bottom: 20px;}

.blog_photo_edit, .blog_photo_edit a { float: left; width: 100% }

.main_content label { text-align: right }

#album_name { margin: 0 0 5px 18px; float: left; width: 601px;}

.position { margin-left: 18px; width: 50px; float: left; }

.photo_details p { float: left; }
.photo_details p span { width: 601px; float: left; }

#update_success, #update_failure { margin-bottom: 20px;}

.edit_photo_thumb, .edit_photos .admin_links { float: left }

.edit_photo_left { float: left; margin-bottom: 10px; width: 70px;}

.photo_details { margin-bottom: 30px; float: left; width: 685px;}

.album_header { margin-bottom: 30px; float: left; width: 760px; }

.photo_details label { margin-right: 15px; width: 65px; float: left;}

.new_photo label{ float: left; margin-right: 15px; width: 139px }

.new_photo p, .photo_details p { width: 100%; margin-bottom: 5px;}

#new_photos a { margin-bottom: 20px; float: left; }

.new_photo { margin-bottom: 20px; float: left;}

.new_photo textarea, .new_photo input { width: 601px;}