/***********************gallery***********************/

#wrapper {
  float: left;
  width: 100%;
}

#large_image { 
  width: 640px;
  float: left;
  height: 480px;
  position: relative; 
  text-align: center; 
  background-color: #ddd;
  img { padding: 0; margin: 0; }
  .description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    @include opacity(0.8, 80);
    p { 
      padding: 5px;
      width: 630px; 
      opacity: 1;
      color: #89e8ff;
      text-align: left;
    }
  }
}

#menu {
  width: 160px;
  float: left;
  img { 
    float: left; 
    margin-bottom: 1px;
    &.gallery_scroll { margin-bottom: 2px }
    &.selected { @include opacity(0.5, 50); }
  }
}

.gallery_window {
  position: relative;
  height: 434px;
  margin-top: 24px;
  overflow: hidden;
}

#thumbs { float: left; width: 100% }

.gallery_thumbs {
  height: 1000px;
  position: absolute;
  top: 0;
  img { width: 160px; height: 30px }
}

h2.album_name {
  color: $hot-pink;
  font-weight: normal;
  font-size: 25px;
  margin-left: 20px;
  float: left;
  line-height: 1em;
  margin-bottom: 5px;
  display: inline;
}

.thumb_holder {
  float: left;
  width: 100%;
  position: relative;
}

.thumbs {
  width: 10000px;
  float: left;
  height: 52px;
  position: absolute;
  left: 0px;
  img {
    float: left;
    margin-right: 7px;
    cursor: pointer;
    &.selected { border: 1px solid #ff0000; margin: -2 -2 0 0; }
  }
}

.thumb_window {
  width: 736px;
  height: 52px;
  overflow: hidden;
  position: relative;
  margin-left: 32px;
}

.thumb_holder a {
  &#previous { position: absolute; top: 10px; left: 5px }
  &#next { position: absolute; top: 10px; right: 5px }
}
