/***********************gallery***********************/

#wrapper {
  float: left;
  width: 100%;
}

#large_image { 
  width: 640px;
  float: left;
  height: 480px;
}

#menu {
  width: 160px;
  float: left;
}

.gallery_window {
  position: relative;
  height: 434px;
  margin-top: 24px;
  overflow: hidden;
}

#thumbs { float: left; width: 100% }

.gallery_thumbs {
  height: 1000px;
  position: absolute;
  top: 0;
}

.gallery_thumbs img { width: 160px; height: 30px }

#large_image img { padding: 0; margin: 0;}

#large_image { position: relative; text-align: center; background-color: #ddd; }

#large_image .description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  /* for IE */
  filter: alpha(opacity=50);
  /* CSS3 standard */
}

#large_image .description p { 
  padding: 5px;
  width: 630px; 
  opacity: 1;
  color: #89e8ff;
  text-align: left;
}

#menu img.gallery_scroll { margin-bottom: 2px}

#menu img { float: left; margin-bottom: 1px;}

#menu img.selected { 
  opacity: 0.5;
  /* for IE */
  filter: alpha(opacity=50);
  /* CSS3 standard */
}

h2.album_name {
  color: #f131c6;
  font-weight: normal;
  font-size: 25px;
  margin-left: 20px;
  float: left;
  line-height: 1em;
  margin-bottom: 5px;
  display: inline;
}

.thumb_holder {
  float: left;
  width: 100%;
  position: relative;
}

.thumbs {
  width: 10000px;
  float: left;
  height: 52px;
  position: absolute;
  left: 0px;
}

.thumb_window {
  width: 736px;
  height: 52px;
  overflow: hidden;
  position: relative;
  margin-left: 32px;
}

.thumbs img {
  float: left;
  margin-right: 7px;
  cursor: pointer;
}

.thumbs img.selected { border: 1px solid #ff0000; margin: -2 -2 0 0; }

.thumb_holder a#previous, .thumb_holder a#next {
  position: absolute;
  top: 10px;
} 

.thumb_holder a#previous { left: 5px }

.thumb_holder a#next { right: 5px }