/***********************login***********************/

#login h1 { font-size: 20px }
#login p { line-height: 2em; font-weight: normal;
color: #000;
margin-bottom: 10px; }

#login input { 
  border: 1px solid #999;
  padding: 2px;
}