/***********************search***********************/

#search_features { 
  float: left; 
  width: 200px; 
  h3 { 
    margin-bottom: 10px; 
    border-bottom: 1px solid #ddd; 
    color: #000; 
    padding-bottom: 10px; 
    font-size: 13px;
  }
}

span.tags { 
  float: left; 
  margin-bottom: 20px; 
  text-align: center; 
  font-family: arial; 
  a { line-height: 18px; }
}

.tag_1 { font-size: 9px }
.tag_2 { font-size: 11px }
.tag_3 { font-size: 13px }
.tag_4 { font-size: 16px }
.tag_5 { font-size: 20px }

.search_header { float: left; margin-bottom: 20px; }

#calendar {
  width: 200px;
  background-color: #e7eefb;
  margin-bottom: 25px;
  font-size: 10px;
  text-align: center;
  border: 10px solid #e7eefb;
  th { 
    color: #1263f9;
    font-weight: normal;
    font-size: 9px; 
    padding: 2px 2px 8px 2px;
    abbr { border: 0px }
  }
  tr.month a { color: #1263f9; font-size: 8px }
  td { 
    padding: 2px; 
    background-color: #f8ecf8; 
    &.today {
      background-color: #aab8d2;
      color: #fff;
    }
    &.weekend { background-color: #e2d6e2 }
    &.other_month { background-color: #fafafa; color: #b6b6b6 }
    &.blog_post a { color: #000; text-decoration: underline; }
  }
}

#thumb_pics {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  a, img { 
    float: left; 
    width: 50px; 
    height: 50px; 
    &.last { margin: 0 }
  }
}
