/***********************showcase***********************/

.small_image {
  width: 380px;
  margin: 0px;
  float: left;
  display: inline;
  height: 136px;
	-moz-box-shadow: 0 0 30px #ddd;
  -webkit-box-shadow: 0 0 30px #ddd;
  box-shadow: 0 0 30px #ddd;
  img {
    float: left;
    margin: 17px 19px;
    width: 340px;
    height: 100px;
    display: inline;
    border: 1px solid #fff;
  }
}

.large_image {
  display: none;
  float: left;
  position: relative;
  margin-bottom: 1px;
  width: 760px;
  height: 280px;
  img { float: left }
}

.project_description {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  width: 100%;
  @include opacity(0.7, 70);
  background-color: #000;
  display: none;
  p {
    float: left;
    padding: 2px 5px 2px 10px;
    color: #fff;
    margin: 5px 0;
    &.name { width: 228px; }
    &.description { width: 495px; border-right: 1px solid #bbb; }
  }
  span.url { clear: both; float: left; margin-top: 0px; }
  a {
    &:link { color: $hot-pink }
    &:visited { color: $hot-pink }
    &:hover { color: #fff }
    &:active { color: #fff }
  }
}

#current { @include opacity(0.7, 70); }
