body { background-color: #fff; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors input, .fieldWithErrors textarea { background-color: #fdefef }

#errorExplanation { margin-bottom: 20px }

#errorExplanation ul {  
  list-style-type:none; 
  padding-left: 2em;
  border: 1px solid #ff0000;
  padding-bottom: 3px;
}

#errorExplanation ul li {
  font-size: 10px;
  list-style: square;
  padding-top: 3px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: normal;
  padding: 0 10px;
  font-size: 12px;
  background-color: #ff0000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin: 10px 0;
  padding: 5px;
}


