<div class="padding">
  <div id="about_me">
    <%= image_tag('me.png', :tag => 'ana carter')%>
    <div id="description">
      <h3>about me</h3>
      <p>Huny buns promised he would write about me. Luckily he won’t have to write too much.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget dolor et lorem rutrum dignissim. Curabitur feugiat mauris eget ipsum. Maecenas nisi. Nulla facilisi. Nam consectetur mauris sed velit. Curabitur feugiat mauris eget ipsum. Maecenas nisi. Nulla facilisi. Curabitur feugiat mauris eget ipsum. Maecenas nisi. Nulla facilisi. Nam consectetur mauris sed velit. Nunc eget dolor et lorem rutrum dignissim.psum. Maecenas nisi. Nulla facilisi. Maecenas nisi. Nulla facilisi. Nam consectetur mauris sed velit. Nunc eget dolor et lorem rutrum dignissim.psum. Maecenas nisi. Nulla facilisi.</p>
    </div>
  </div>
  <div id="resume">
    <h3 class="header">resume</h3>
    <h3>education</h3>
    <p>Parsons School of Design, New York, NY : completed half a Masters of Fine Arts in Design + Technology</p>
    <p class="date">Sep 2007 - May 2008</p>
    <p>Carnegie Mellon University, Pittsburgh, PA : B.A. European Studies and Music Performance</p>
    <p class="date">Dec 2005</p>
    <p>Centre International D’Etudes Français, Angers, France : Certificate in Intensive Language Studies in French</p>
    <p class="date">Summer 2005</p>
    <h3>skills</h3>
    <p>• Proficient in Macintosh and Windows platforms</p>
    <div class="clear"></div>
    <p>• XHTML, CSS, PHP, MySQL, beginner JavaScript, beginner ruby</p>
    <div class="clear"></div>
    <p>• Adobe applications include Photoshop, Illustrator, InDesign</p>
    <div class="clear"></div>
    <p>• Strong design and typography skills</p>
    <h3>recent experience</h3>
    <p>Front End Developer at <%= link_to('Intersect', 'www.intersect.com') %> : Freelance developer</p>
    <p class="date">Sep 2008 - Present<br />New York, NY</p>
    <p class="job_description">As a member of the development team, I work closely with the designers, back end programmers, and software engineer in producing custom sites and content management software.</p>
    <p>Creative Lab + <%= link_to('Frej Hedenberg Photography', 'www.frejhedenberg.com') %> : Design Intern</p>
    <p class="date">July 2008 - Aug 2008<br />DUMBO, NY</p>
    <p class="job_description">Image post production and animation work using Photoshop. Signage and typographic design consistent with visual language of pre-recorded video. Web design and development, such as collaborating in re-skinning HBO's cinemax. Photo shoot, and set design assistant.</p>
    <p>Woodworker at <%= link_to('City Joinery, LLC', 'www.cityjoinery.com') %></p>
    <p class="date">Feb 2006 – Feb 2007</p>
    <p class="job_description">Photo retouching, layout and image editing using Photoshop and Illustrator. Proofreading and editing written content for web and brochure. Database and website content management. Assisted in the production of custom wood furniture from milling to finishing.</p>
  </div>
</div>